{% include 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <h3>Enter you new password:</h3>
        <hr>
        <p>Please re-enter your password twice</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update password</button>
        
    </form>
    </div>

{% endblock %}