{% extends 'base/base.html' %}

{% block content %}

    <div class="table-container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Are you sure you want to remove "{{ playlist.title }}" movie list?</h3>
        <div style="display: flex; justify-content: left;">
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url 'playlists' %}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
{% endblock %}