{% extends 'base/base.html' %}
{% block content %}

<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center"  style="height: 90vh;">
        <h1>{{ playlist.title }}</h1>


{#         <td>{{ movie.title|truncatechars:15 }}</td>#}
{#         <td>{{ movie.created_at|date:"m-d-Y" }}</td>#}


        <div class="my-3">
            <a href="{% url 'movie-create' playlist.id %}" class="btn btn-success">Add Movie</a>
            <a href="{% url 'playlist-update' playlist.id %}" class="btn btn-primary">Update Playlist</a>
            <a href="{% url 'playlist-delete' playlist.id %}" class="btn btn-danger">Delete Playlist</a>
            <a href="{% url 'playlists' %}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

{% endblock %}
