{% extends 'blog/base.html' %}
{#{% load static %}#}
{% block content %}

<div class="post-container">
    {% for post in posts %}
        <div class="post-card">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe|truncatechars:60}}</p>
            <p>Published on: {{ post.published_date|date:"l, j F Y" }}</p>
            <p><a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a></p>
        <div class="post-card-actions">
            <a href="{% url 'post_detail' post.pk %}"><button class="btn btn-primary">read more</button></a>
            <a href="{% url 'post_detail' post.pk %}"><button class="btn btn-secondary">read later</button></a>

        </div>
        </div>

    {% endfor %}
</div>
{% endblock %}
